<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registro de Usuario</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css"
        integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>


    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
                <h1 class="text-center">Registro de Usuario</h1>
                <div class="card-body">
                    <form action="#" th:action="@{/guardar}" th:object="${usuario}" method="post">
                        <div class="form-group">
                            <label>Correo: </label>
                            <input name="correo" type="email" maxlength="50"  th:field="*{correo}" class="form-control"
                                placeholder="Correo" required>
                        </div>

                        <div class="form-group">
                            <label>Contraseña: </label>
                            <input name="password" type="text" maxlength="200" th:field="*{password}" class="form-control"
                                placeholder="Contraseña" required>
                        </div>
						
                        &nbsp;
                        <div class="box-footer d-flex justify-content-between">
                            <a th:href="@{/listar}" class="btn btn-secondary float-left">Cancelar</a>
                            <button class="btn btn-primary float-right">Registrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
        integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<!--función solo letras-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
        
        <script>
			function validateInput(event) {
			  var key = event.key;
			  
			  // Verificar si la tecla pulsada es un número o una tecla de borrado
			  if (!/^\d$/.test(key) && key !== 'Backspace' && key !== 'Delete') {
			    event.preventDefault(); // Prevenir la acción predeterminada
			  }
			}
	</script>
<script>
  function validarLetras(event) {
    var input = event.target.value;
    // Eliminar los caracteres no alfabéticos excepto el espacio y las letras con tilde
    var letras = input.replace(/[^A-Za-zÁÉÍÓÚáéíóúÜüÑñ ]/g, '');
    // Actualizar el valor del campo de entrada solo con las letras, espacios y letras con tilde
    event.target.value = letras;
  }
</script>

</body>

</html>
